<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sekorm.core.dao.supply.OrderDetailMapper" >
  <resultMap id="BaseResultMap" type="com.sekorm.core.model.supply.OrderDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_code" property="orderCode" jdbcType="CHAR" />
    <result column="mem_id" property="memId" jdbcType="INTEGER" />
    <result column="supply_id" property="supplyId" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="sales_unit" property="salesUnit" jdbcType="INTEGER" />
    <result column="pn_code" property="pnCode" jdbcType="VARCHAR" />
    <result column="sp_id" property="spId" jdbcType="INTEGER" />
    <result column="delivery_day" property="deliveryDay" jdbcType="INTEGER" />
    <result column="freight_price" property="freightPrice" jdbcType="DECIMAL" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_code, mem_id, supply_id, amount, brand_name, sales_unit, pn_code, sp_id, 
    delivery_day, freight_price, price, total_amount, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sekorm.core.model.supply.OrderDetail" >
    insert into t_order_detail (id, order_code, mem_id, 
      supply_id, amount, brand_name, 
      sales_unit, pn_code, sp_id, 
      delivery_day, freight_price, price, 
      total_amount, create_time)
    values (#{id,jdbcType=INTEGER}, #{orderCode,jdbcType=CHAR}, #{memId,jdbcType=INTEGER}, 
      #{supplyId,jdbcType=INTEGER}, #{amount,jdbcType=INTEGER}, #{brandName,jdbcType=VARCHAR}, 
      #{salesUnit,jdbcType=INTEGER}, #{pnCode,jdbcType=VARCHAR}, #{spId,jdbcType=INTEGER}, 
      #{deliveryDay,jdbcType=INTEGER}, #{freightPrice,jdbcType=DECIMAL}, #{price,jdbcType=DECIMAL}, 
      #{totalAmount,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sekorm.core.model.supply.OrderDetail" >
    insert into t_order_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="memId != null" >
        mem_id,
      </if>
      <if test="supplyId != null" >
        supply_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="salesUnit != null" >
        sales_unit,
      </if>
      <if test="pnCode != null" >
        pn_code,
      </if>
      <if test="spId != null" >
        sp_id,
      </if>
      <if test="deliveryDay != null" >
        delivery_day,
      </if>
      <if test="freightPrice != null" >
        freight_price,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=CHAR},
      </if>
      <if test="memId != null" >
        #{memId,jdbcType=INTEGER},
      </if>
      <if test="supplyId != null" >
        #{supplyId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="salesUnit != null" >
        #{salesUnit,jdbcType=INTEGER},
      </if>
      <if test="pnCode != null" >
        #{pnCode,jdbcType=VARCHAR},
      </if>
      <if test="spId != null" >
        #{spId,jdbcType=INTEGER},
      </if>
      <if test="deliveryDay != null" >
        #{deliveryDay,jdbcType=INTEGER},
      </if>
      <if test="freightPrice != null" >
        #{freightPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sekorm.core.model.supply.OrderDetail" >
    update t_order_detail
    <set >
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=CHAR},
      </if>
      <if test="memId != null" >
        mem_id = #{memId,jdbcType=INTEGER},
      </if>
      <if test="supplyId != null" >
        supply_id = #{supplyId,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="salesUnit != null" >
        sales_unit = #{salesUnit,jdbcType=INTEGER},
      </if>
      <if test="pnCode != null" >
        pn_code = #{pnCode,jdbcType=VARCHAR},
      </if>
      <if test="spId != null" >
        sp_id = #{spId,jdbcType=INTEGER},
      </if>
      <if test="deliveryDay != null" >
        delivery_day = #{deliveryDay,jdbcType=INTEGER},
      </if>
      <if test="freightPrice != null" >
        freight_price = #{freightPrice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sekorm.core.model.supply.OrderDetail" >
    update t_order_detail
    set order_code = #{orderCode,jdbcType=CHAR},
      mem_id = #{memId,jdbcType=INTEGER},
      supply_id = #{supplyId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      brand_name = #{brandName,jdbcType=VARCHAR},
      sales_unit = #{salesUnit,jdbcType=INTEGER},
      pn_code = #{pnCode,jdbcType=VARCHAR},
      sp_id = #{spId,jdbcType=INTEGER},
      delivery_day = #{deliveryDay,jdbcType=INTEGER},
      freight_price = #{freightPrice,jdbcType=DECIMAL},
      price = #{price,jdbcType=DECIMAL},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <resultMap id="OrderDetailDTO" type="com.sekorm.core.dto.supply.OrderDetailDTO" >
    <result column="order_code" property="orderCode" javaType="String" />
    <result column="pn_code" property="pnCode" javaType="String" />
    <result column="spName" property="spName" javaType="String" />
    <result column="amount" property="amount" javaType="Integer" />
    <result column="brand_name" property="brandName" javaType="String" />
    <result column="price" property="price" javaType="DECIMAL" />
    <result column="total_amount" property="totalAmount" javaType="DECIMAL" />
  </resultMap>
  <resultMap id="GoodsDetailFrontDO" type="com.sekorm.dubbo.beans.isupply.GoodsDetailFrontDO" >
    <result column="order_code" property="orderCode" javaType="String" />
    <result column="pn_code" property="pnCode" javaType="String" />
    <result column="amount" property="amount" javaType="Integer" />
    <result column="brand_name" property="brand" javaType="String" />
    <result column="price" property="unitPrice" javaType="DECIMAL" />
  </resultMap>
  <insert id="insertBatch">
    insert into t_order_detail (order_code, mem_id, 
      supply_id, amount, brand_name, 
      sales_unit, pn_code, sp_id, price, total_amount, 
      create_time)
    values 
    <foreach item="item" index="index" collection="list" separator="," >
    (#{orderCode,jdbcType=CHAR}, #{memId,jdbcType=INTEGER}, 
      #{item.supplyId,jdbcType=INTEGER}, #{item.amount,jdbcType=INTEGER}, #{item.brand,jdbcType=VARCHAR}, 
      1, #{item.pnCode,jdbcType=VARCHAR}, #{item.spId,jdbcType=INTEGER}, 
      #{item.unitPrice,jdbcType=DECIMAL}, #{item.subTotal,jdbcType=DECIMAL}, #{orderTime,jdbcType=TIMESTAMP})
	</foreach>
  </insert>
  <select id="getOrderDetails" resultMap="OrderDetailDTO" >
  SELECT order_code, pn_code, spinfo.name spName, brand_name, amount, price, total_amount
  FROM supply.t_order_detail od
  LEFT JOIN spm.t_sp_info spinfo ON od.sp_id = spinfo.id
  WHERE order_code IN 
	<foreach item="orderCode" index="index" collection="orderCodes" open="("
		separator="," close=")">
		#{orderCode,jdbcType=CHAR}
	</foreach>
  </select>
  <select id="getFrontOrderDetails" resultMap="GoodsDetailFrontDO" >
  SELECT order_code, pn_code, brand_name, amount, price
  FROM supply.t_order_detail
  WHERE order_code IN 
	<foreach item="orderCode" index="index" collection="orderCodes" open="("
		separator="," close=")">
		#{orderCode,jdbcType=CHAR}
	</foreach>
  </select>
  
</mapper>