<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sekorm.core.dao.supply.PaymentLogMapper" >
  <resultMap id="BaseResultMap" type="com.sekorm.core.model.supply.PaymentLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_code" property="orderCode" jdbcType="CHAR" />
    <result column="trade_no" property="tradeNo" jdbcType="VARCHAR" />
    <result column="pay_channel" property="payChannel" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.sekorm.core.model.supply.PaymentLog" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_code, trade_no, pay_channel, type, create_time
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_payment_log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_payment_log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sekorm.core.model.supply.PaymentLog" >
    insert into t_payment_log (id, order_code, trade_no, 
      pay_channel, type, create_time, 
      content)
    values (#{id,jdbcType=INTEGER}, #{orderCode,jdbcType=CHAR}, #{tradeNo,jdbcType=VARCHAR}, 
      #{payChannel,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sekorm.core.model.supply.PaymentLog" >
    insert into t_payment_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderCode != null" >
        order_code,
      </if>
      <if test="tradeNo != null" >
        trade_no,
      </if>
      <if test="payChannel != null" >
        pay_channel,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderCode != null" >
        #{orderCode,jdbcType=CHAR},
      </if>
      <if test="tradeNo != null" >
        #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="payChannel != null" >
        #{payChannel,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sekorm.core.model.supply.PaymentLog" >
    update t_payment_log
    <set >
      <if test="orderCode != null" >
        order_code = #{orderCode,jdbcType=CHAR},
      </if>
      <if test="tradeNo != null" >
        trade_no = #{tradeNo,jdbcType=VARCHAR},
      </if>
      <if test="payChannel != null" >
        pay_channel = #{payChannel,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sekorm.core.model.supply.PaymentLog" >
    update t_payment_log
    set order_code = #{orderCode,jdbcType=CHAR},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      pay_channel = #{payChannel,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sekorm.core.model.supply.PaymentLog" >
    update t_payment_log
    set order_code = #{orderCode,jdbcType=CHAR},
      trade_no = #{tradeNo,jdbcType=VARCHAR},
      pay_channel = #{payChannel,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getCountByTradeNoAndChannel" resultType="java.lang.Integer" >
    select count(1) from supply.t_payment_log
    where trade_no = #{tradeNo,jdbcType=VARCHAR} and pay_channel = #{payChannel,jdbcType=INTEGER}
  </select>
  
  <select id="getCountByOrderCode" resultType="java.lang.Integer" parameterType="java.lang.String" >
  	SELECT COUNT(1) FROM supply.t_payment_log WHERE order_code = #{orderCode,jdbcType=CHAR}
  </select>
  
  
  <!-- <insert id="insertPayLog" parameterType="com.sekorm.core.model.supply.PaymentLog" >
    insert into t_payment_log (order_code, trade_no, 
      pay_channel, type, create_time, content)
    values (#{orderCode,jdbcType=CHAR}, #{tradeNo,jdbcType=VARCHAR}, 
      #{payChannel,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, now(), 
      #{content,jdbcType=LONGVARCHAR})
  </insert> -->
</mapper>