<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sekorm.core.dao.supply.PnSupplyQueryMapper" >
	<resultMap id="BaseResultMap" type="com.sekorm.core.vo.supply.PnSupplyTableVO" >
		<result column="pn_id" property="pnId" jdbcType="INTEGER" />
		<result column="supply_id" property="supplyId" jdbcType="INTEGER" />
		<result column="pn_code" property="pnCode" jdbcType="VARCHAR" />
		<result column="brand_name" property="brand" jdbcType="VARCHAR" />
		<result column="moq" property="minOrderAmount" jdbcType="INTEGER" />
		<result column="mpq" property="minPackAmount" jdbcType="INTEGER" />
		<result column="stock_quantity" property="pcs" jdbcType="INTEGER" />
		<result column="sz_stock_quantity" property="szPcs" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List" >
		pn.id as pn_id, pn.pn_code, pn.brand_name, s.moq, IF(s.`status` = 0, s.id, NULL) AS supply_id
	</sql>
	<sql id="Base_Table_Condition" >
		FROM spm.t_partnumber pn
		LEFT JOIN supply.t_pn_supply s ON pn.id = s.pn_id
		WHERE pn.state = 0 AND pn.`status` = 0
	</sql>
	
	<select id="getByBrand" resultMap="BaseResultMap" >
		SELECT 
		<include refid="Base_Column_List" />
		<include refid="Base_Table_Condition" />
		<if test="param != null" >
			AND UPPER(pn.brand_name) = #{param}
		</if>
		<if test="aliasList != null and aliasList.size()>0">
			AND UPPER(pn.brand_name) IN 
			<foreach item="item" index="index" collection="aliasList" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<!-- ORDER BY pns.stock_quantity > 0 DESC -->
		LIMIT #{offset}, #{pageSize}
	</select>
	
	<select id="getByBrandCount" resultType="int">
  		SELECT COUNT(1)
  		<include refid="Base_Table_Condition" />
		<if test="param != null" >
			AND UPPER(pn.brand_name) = #{param}
		</if>
		<if test="aliasList != null and aliasList.size()>0">
			AND UPPER(pn.brand_name) IN 
			<foreach item="item" index="index" collection="aliasList" open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
	</select>
	
	<select id="getListByParam" resultMap="BaseResultMap" >
		SELECT 
		<include refid="Base_Column_List" />
		<include refid="Base_Table_Condition" />
		<if test="param != null" >
	        AND UPPER(pn.pn_code) LIKE #{param} 
	    </if>
	    <if test="pnList != null and pnList.size()>0">
	    	UNION
	    	SELECT 
			<include refid="Base_Column_List" />
			<include refid="Base_Table_Condition" />
	    	AND UPPER(pn.pn_code) IN 
	     	<foreach item="item" index="index" collection="pnList" open="(" separator="," close=")">
				#{item}
			</foreach>
	    </if>
	    <!-- ORDER BY stock_quantity > 0 DESC -->
		LIMIT #{offset}, #{pageSize}
	</select>
	
	<select id="getListByParamCount" resultType="int">
		SELECT COUNT(1)
		FROM (
			SELECT 
			pn.id
			<include refid="Base_Table_Condition" />
			<if test="param != null" >
				AND UPPER(pn.pn_code) LIKE #{param} 
			</if>
			<if test="pnList != null and pnList.size()>0">
				UNION
				SELECT 
				pn.id
				<include refid="Base_Table_Condition" />
				AND UPPER(pn.pn_code) IN 
				<foreach item="item" index="index" collection="pnList" open="(" separator="," close=")">
				#{item}
				</foreach>
			</if>
		) s
	</select>
	
	<select id="getListNoKey" resultMap="BaseResultMap" >
		SELECT 
		pns.pn_id, pns.pn_code, pns.brand_name, s.moq, pns.mpq, pns.stock_quantity, IF(s.`status` = 0, s.id, NULL) AS supply_id
		FROM spm.t_partnumber_stock pns
		LEFT JOIN supply.t_pn_supply s ON pns.pn_id = s.pn_id
		WHERE pns.state = 0 AND pns.`status` = 0
		AND pns.stock_quantity > 0
		AND pns.pn_id IS NOT NULL
		ORDER BY pns.brand_name<!-- , pn.product_line -->
		LIMIT #{offset}, #{pageSize}
	</select>
 
	<select id="getListNoKeyCount" resultType="int">
		SELECT 
		COUNT(1)
		FROM spm.t_partnumber_stock pns
		LEFT JOIN supply.t_pn_supply s ON pns.pn_id = s.pn_id
		WHERE pns.state = 0 AND pns.`status` = 0
		<if test="pcs != null" >
		AND pns.stock_quantity > #{pcs}
		</if>
		AND pns.pn_id IS NOT NULL
	</select>
	
	<!-- app进入元件供应频道时看到的总数 -->
	<select id="getAppShowTotalCount" resultType="int">
		SELECT 
		COUNT(1)
		FROM spm.t_partnumber pn
		WHERE pn.state = 0 AND pn.`status` = 0
	</select>
	
	<select id="exactQuerySupplyPage" resultMap="BaseResultMap" >
		SELECT 
		<include refid="Base_Column_List" />
		<include refid="Base_Table_Condition" />
		AND UPPER(pn.pn_code) IN 
		<foreach item="item" index="index" collection="pnSet" open="(" separator="," close=")">
			UPPER(#{item})
		</foreach>
		<!-- ORDER BY pns.stock_quantity > 0 DESC -->
		LIMIT #{offset}, #{pageSize}
	</select>
 
	<select id="exactQuerySupplyCount" resultType="int">
		SELECT 
		COUNT(1)
		<include refid="Base_Table_Condition" />
		AND UPPER(pn.pn_code) IN 
		<foreach item="item" index="index" collection="pnSet" open="("
		separator="," close=")">
		UPPER(#{item})
		</foreach>
	</select>
	
	<select id="exactQuerySupplyForApp" resultMap="BaseResultMap" >
		SELECT 
		<include refid="Base_Column_List" />
		<include refid="Base_Table_Condition" />
		AND UPPER(pn.pn_code) IN 
		<foreach item="item" index="index" collection="pnSet" open="(" separator="," close=")">
			UPPER(#{item})
		</foreach>
		<!-- ORDER BY pns.stock_quantity > 0 DESC -->
	</select>
	
	<!-- 元件供应输入框联想 -->
	<select id="getListForInputPN" resultType="java.lang.String" 
			parameterType="com.sekorm.core.vo.supply.WebSearchInputVO">
		SELECT distinct pn.pn_code 
		FROM spm.t_partnumber pn
		WHERE pn.state = 0 AND pn.`status` = 0
		<if test="keyword != null and keyword != ''">
			AND UPPER(pn.pn_code) like #{keyword, jdbcType=VARCHAR}
		</if>
		limit 0, #{pageSize, jdbcType=INTEGER}
	</select>
	
	<!-- 查询可以购买的商品 -->
	<select id="getCanBuyForApp" resultMap="BaseResultMap" >
		SELECT 
		s.pn_id, pn.pn_code, pn.brand_name, s.moq, pns.mpq, pns.stock_quantity, s.id AS supply_id
		FROM supply.t_pn_supply s
		LEFT JOIN spm.t_partnumber pn ON pn.id = s.pn_id
		LEFT JOIN spm.t_partnumber_stock pns ON pn.id = pns.pn_id
		WHERE s.`status` = 0 AND pns.stock_quantity > 0 
			AND pn.state = 0 AND pn.`status` = 0 AND pns.state = 0 AND pns.`status` = 0
		<if test="keyword != null and keyword != ''">
			AND UPPER(pn.pn_code) like CONCAT('%',#{keyword, jdbcType=VARCHAR},'%')
		</if>
		ORDER BY pn.brand_name
		LIMIT #{offset}, #{pageSize}	
	</select>
	<select id="getCanBuyForAppCount" resultType="java.lang.Integer" >
		SELECT COUNT(1)
		FROM supply.t_pn_supply s
		LEFT JOIN spm.t_partnumber pn ON pn.id = s.pn_id
		LEFT JOIN spm.t_partnumber_stock pns ON pn.id = pns.pn_id
		WHERE s.`status` = 0 AND pns.stock_quantity > 0 
			AND pn.state = 0 AND pn.`status` = 0 AND pns.state = 0 AND pns.`status` = 0
		<if test="keyword != null and keyword != ''">
			AND UPPER(pn.pn_code) like CONCAT('%',#{keyword, jdbcType=VARCHAR},'%')
		</if>
	</select>
	
	<!-- 根据pn id 查询库存 -->
	<select id="searchStock" resultMap="BaseResultMap" >
		SELECT pns.pn_id, pns.mpq, pns.stock_quantity, pns.sz_stock_quantity 
		FROM spm.t_partnumber_stock pns
		WHERE pns.pn_id IN 
		<foreach item="id" index="index" collection="pnIds" open="(" separator="," close=")">
			#{id, jdbcType=INTEGER}
		</foreach>
		AND pns.state = 0 AND pns.`status` = 0
	</select>
	
	
	<!-- 查询可以购买的商品 -->
	<select id="getCanBuyBrandNameForApp" resultMap="BaseResultMap" >
		SELECT 
		s.pn_id, pn.pn_code, pn.brand_name, s.moq, pns.mpq, pns.stock_quantity, s.id AS supply_id
		FROM supply.t_pn_supply s
		LEFT JOIN spm.t_partnumber pn ON pn.id = s.pn_id
		LEFT JOIN spm.t_partnumber_stock pns ON pn.id = pns.pn_id
		WHERE s.`status` = 0 AND pns.stock_quantity > 0 
			AND pn.state = 0 AND pn.`status` = 0 AND pns.state = 0 AND pns.`status` = 0
		<if test="keyword != null and keyword != ''">
			AND UPPER(pn.brand_name) like CONCAT('%',#{keyword, jdbcType=VARCHAR},'%')
		</if>
		ORDER BY pn.brand_name
		LIMIT #{offset}, #{pageSize}	
	</select>
	<select id="getCanBuyBrandNameForAppCount" resultType="java.lang.Integer" >
		SELECT COUNT(1)
		FROM supply.t_pn_supply s
		LEFT JOIN spm.t_partnumber pn ON pn.id = s.pn_id
		LEFT JOIN spm.t_partnumber_stock pns ON pn.id = pns.pn_id
		WHERE s.`status` = 0 AND pns.stock_quantity > 0 
			AND pn.state = 0 AND pn.`status` = 0 AND pns.state = 0 AND pns.`status` = 0
		<if test="keyword != null and keyword != ''">
			AND UPPER(pn.brand_name) like CONCAT('%',#{keyword, jdbcType=VARCHAR},'%')
		</if>
	</select>
	
</mapper>