<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sekorm.core.dao.supply.SupplyChannelMapper" >
  <resultMap id="BaseResultMap" type="com.sekorm.core.model.supply.SupplyChannel" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="row_name" property="rowName" jdbcType="VARCHAR" />
    <result column="display_column" property="displayColumn" jdbcType="INTEGER" />
    <result column="sort_no" property="sortNo" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creator" property="creator" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updator" property="updator" jdbcType="INTEGER" />
  </resultMap>

  <resultMap id="VOResultMap" type="com.sekorm.core.vo.supply.SupplyChannelVO" extends="BaseResultMap">
	    <result column="updator_name" property="updatorName" jdbcType="VARCHAR" />
    <collection property="supplyChannelForms" column="channelFormId" ofType="com.sekorm.core.model.supply.SupplyChannelForm">
        <id property="id" column="id_channel_form" javaType="int" jdbcType="INTEGER"/>
    	<result column="channel_id" property="channelId" jdbcType="INTEGER" />
	    <result column="column_name" property="columnName" jdbcType="VARCHAR" />
	    <result column="click_jump_type" property="clickJumpType" jdbcType="INTEGER" />
	    <result column="link_url" property="linkUrl" jdbcType="VARCHAR" />
	    <result column="link_type" property="linkType" jdbcType="INTEGER" />
	    <result column="search_keyword" property="searchKeyword" jdbcType="VARCHAR" />
	    <result column="app_img_url" property="appImgUrl" jdbcType="VARCHAR" />
        <result property="telnumber" column="telnumber" javaType="string" jdbcType="VARCHAR"/>
    </collection>
  </resultMap>

  <sql id="Base_Column_List" >
    id, row_name, display_column, sort_no, status, create_time, creator, update_time, updator
  </sql>

  <select id="selectByPrimaryKey" resultMap="VOResultMap" parameterType="java.lang.Integer" >
    select t.id, t.row_name, t.display_column, t.sort_no, t.status, t.create_time, t.creator, t.update_time, t.updator,
    f.id as id_channel_form, f.channel_id, f.column_name, f.click_jump_type, f.link_url, f.link_type, f.search_keyword, f.app_img_url
    from t_supply_channel t
    inner join t_supply_channel_form f on f. channel_id=t.id
    where t.id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_supply_channel
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.sekorm.core.model.supply.SupplyChannel">
    insert into t_supply_channel (id, row_name, display_column, 
      sort_no, status, create_time, 
      creator, update_time, updator
      )
    values (#{id,jdbcType=INTEGER}, #{rowName,jdbcType=VARCHAR}, #{displayColumn,jdbcType=INTEGER}, 
      #{sortNo,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, now(), 
      #{creator,jdbcType=INTEGER}, now(), #{updator,jdbcType=INTEGER}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.sekorm.core.model.supply.SupplyChannel" useGeneratedKeys="true" keyProperty="id">
    insert into t_supply_channel
    <trim prefix="(" suffix=")" suffixOverrides="," >
    	create_time,
    	update_time,
      <if test="id != null" >
        id,
      </if>
      <if test="rowName != null" >
        row_name,
      </if>
      <if test="displayColumn != null" >
        display_column,
      </if>
      <if test="sortNo != null">
        sort_no,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="updator != null" >
        updator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
    	now(),
    	now(),
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="rowName != null" >
        #{rowName,jdbcType=VARCHAR},
      </if>
      <if test="displayColumn != null" >
        #{displayColumn,jdbcType=INTEGER},
      </if>
      <if test="sortNo != null">
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.sekorm.core.model.supply.SupplyChannel" >
    update t_supply_channel
    <set >
    	update_time=now(),
      <if test="rowName != null" >
        row_name = #{rowName,jdbcType=VARCHAR},
      </if>
      <if test="displayColumn != null" >
        display_column = #{displayColumn,jdbcType=INTEGER},
      </if>
      <if test="sortNo != null">
        sort_no = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
	    <if test="status == 1">
	      sort_no = null,
	    </if>
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.sekorm.core.model.supply.SupplyChannel" >
    update t_supply_channel
    set row_name = #{rowName,jdbcType=VARCHAR},
      display_column = #{displayColumn,jdbcType=INTEGER},
      sort_no = #{sortNo,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      update_time = now(),
      updator = #{updator,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getPageList" resultMap="VOResultMap">
    select
     t.id, t.row_name, t.display_column, t.sort_no,
     t.status, t.update_time,
     t.updator, 
     u.truename as updator_name
    from t_supply_channel t
    left join usm.t_user u on u.id=t.updator
    ORDER BY t.status, t.sort_no, t.update_time desc
    limit #{pageNum,jdbcType=INTEGER}, #{pageSize,jdbcType=INTEGER}
  </select>

  <select id="getPageListCount" resultType="int">
    select count(1) from t_supply_channel t
  </select>

  <select id="selectByModel" resultMap="BaseResultMap" parameterType="com.sekorm.core.model.supply.SupplyChannel" >
    select <include refid="Base_Column_List" />
    from t_supply_channel t
	<trim prefix="WHERE" prefixOverrides="AND |OR ">
      <if test="id != null" >
        AND t.id=#{id,jdbcType=INTEGER}
      </if>
      <if test="rowName != null" >
        AND t.row_name=#{rowName,jdbcType=VARCHAR}
      </if>
      <if test="displayColumn != null" >
        AND t.display_column=#{displayColumn,jdbcType=INTEGER}
      </if>
      <if test="sortNo != null">
        AND sort_no = #{sortNo,jdbcType=INTEGER}
      </if>
      <if test="status != null" >
        AND t.status = #{status,jdbcType=INTEGER}
      </if>
	</trim>
  </select>
  
  <select id="selectSortNoByStatus" resultMap="BaseResultMap" parameterType="com.sekorm.core.model.supply.SupplyChannel" >
    select <include refid="Base_Column_List" />
    from t_supply_channel t
    where t.status=0
	order by t.sort_no
  </select>
  
    <!--为前台APP提供需要展示的生效的配置行信息. start -->
    <resultMap id="supplyChannel4AppMap" type="com.sekorm.core.vo.supply.SupplyChannel4AppVO">
        <id property="id" column="channel_id" />
        <association property="supplyChannelForm4AppVOs" resultMap="supplyChannelForm4AppVOMap" />
    </resultMap>
  <resultMap id="supplyChannelForm4AppVOMap" type="com.sekorm.core.vo.supply.SupplyChannelForm4AppVO">
    <id property="id" column="f_id" />
    <result property="channelId" column="channel_id" />
    <result property="imgUrl" column="app_img_url"/>
    <result property="url" column="link_url"/>
    <result property="urlType" column="link_type"/>
    <result property="type" column="click_jump_type"/>
    <result property="searchKey" column="search_keyword"/>
    <result property="width" column="width"/>
    <result property="height" column="height"/>
    <result property="columnName" column="column_name"/>
  </resultMap>
  <select id="getList4App" resultMap="supplyChannel4AppMap">
    SELECT
      t.id   AS channel_id,
      f.id   AS f_id     ,
      concat(#{imageLoadPath},f.app_img_url) AS  app_img_url ,
      f.link_url        ,
      f.link_type       ,
      f.click_jump_type ,
      f.search_keyword,
      f.width,
      f.height,
      f.column_name
    FROM t_supply_channel t INNER JOIN t_supply_channel_form f
      ON f.channel_id = t.id
    WHERE t.status = 0
    ORDER BY   t.sort_no
  </select>
  <!--为前台APP提供需要展示的生效的配置行信息. end -->

</mapper>