<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sekorm.core.dao.order.SupplyOrderLogMapper">
    <resultMap id="BaseMap" type="com.sekorm.core.model.order.SupplyOrderLog" >
        <id column="id" property="id" javaType="Integer" />

        <result column="order_id" property="orderId" javaType="Integer" />
        <result column="order_no" property="orderNo" javaType="String" />
        <result column="type" property="type" javaType="Integer" />

        <result column="mem_id" property="memId" javaType="Integer" />
        <result column="operator_id" property="operatorId" javaType="Integer" />
        <result column="operator_username" property="operatorUsername" javaType="String" />
        <result column="operator_truename" property="operatorTruename" javaType="String" />

        <result column="content" property="content" javaType="String" />
        <result column="create_time" property="createTime" javaType="Date" />

    </resultMap>
    <insert id="insert">
        INSERT INTO t_supply_order_log (order_id,order_no,`type`,mem_id,operator_id,
        operator_username,operator_truename,content)
        VALUES (#{orderId},#{orderNo},#{type},#{memId},#{operatorId},
        #{operatorUsername},#{operatorTruename},#{content})
    </insert>



</mapper>