<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		   http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-3.2.xsd
		   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd  
        	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
	<context:annotation-config />
	<context:component-scan base-package="com.sekorm.core.service,com.sekorm.core.shiro,com.sekorm.common.*,com.sekorm.*.dubbo,com.sekorm.cache.service" />
	
	<import resource="classpath:spring/spring-mybatis.xml" />
	
	<!-- MQ生产者注解支持 -->
	<bean id="mQInitialization" class="com.sekorm.common.filter.MQInitialization" />
	
<!-- 	<bean id="jobFactory" class="com.sekorm.common.component.job.QuartzSpringBeanJobFactory"></bean>
	<bean id="schedulerFactoryBean"	class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobFactory" ref="jobFactory"></property>
		<property name="autoStartup" value="true"/>
	</bean>
	
	<bean id="quartzManager" class="com.sekorm.common.component.job.QuartzManager">
	</bean> -->
	
	
	<context:property-placeholder location="classpath:system.properties" ignore-unresolvable="true" />
	<context:property-placeholder location="classpath:config.properties" ignore-unresolvable="true" />
	   
	<context:property-placeholder location="classpath:alipay.properties" ignore-unresolvable="true" />
	<context:property-placeholder location="classpath:wxpay.properties" ignore-unresolvable="true" />
 
	<bean id="freeMarkerConfigurer"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPaths" value="classpath:mailTemplate" /><!-- 
			模板路径位置 -->
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">1800</prop><!-- 模板更新延时 -->
				<prop key="default_encoding">UTF-8</prop>
				<prop key="locale">zh_CN</prop>
			</props>
		</property>
	</bean>
	
	<!-- 系统参数配置 -->
	<bean id="alipayConfig" class="com.sekorm.core.util.ali.config.AlipayConfig">
	
		<property name="partner" value="${partner}" />
		<property name="seller_id" value="${seller_id}" />
		<property name="private_key" value="${private_key}" />
		<property name="alipay_public_key" value="${alipay_public_key}" />
		<property name="notify_url" value="${notify_url}" />
		<property name="return_url" value="${return_url}" /> 
		<property name="sign_type" value="${sign_type}" /> 
		<property name="input_charset" value="${input_charset}" /> 
		<property name="service" value="${service}" /> 
		<property name="payment_type" value="${payment_type}" /> 
		<property name="anti_phishing_key" value="${anti_phishing_key}" /> 
		<property name="exter_invoke_ip" value="${exter_invoke_ip}" /> 
		<property name="log_path" value="${log_path}" /> 
		
		<property name="app_id" value="${app_id}" /> 
		<property name="method" value="${method}" /> 
		<property name="charset" value="${charset}" /> 
		<property name="version" value="${version}" /> 
		<property name="product_code" value="${product_code}" /> 
		<property name="sign_type_APP_ALI" value="${sign_type_APP_ALI}" /> 
		<property name="private_key_APP_ALI" value="${private_key_APP_ALI}" /> 
		<property name="public_key_APP_ALI" value="${public_key_APP_ALI}" /> 
		<property name="alipay_gateway_new" value="${alipay_gateway_new}" /> 
		<property name="timeoutExpress_APP" value="${timeoutExpress_APP}" /> 
	</bean>
	
	
	<bean id="configure" class="com.sekorm.core.util.wx.util.Configure">
		<property name="sdkVersion" value="${sdkVersion}" />
		<property name="key" value="${key}" />
		<property name="appID" value="${appID}" />
		<property name="mchID" value="${mchID}" />
		<property name="subMchID" value="${subMchID}" />
		<property name="certLocalPath" value="${certLocalPath}" />
		<property name="certPassword" value="${certPassword}" />
		<property name="useThreadToDoReport" value="${useThreadToDoReport}" />
		<property name="ip" value="${ip}" />
		<property name="PAY_API" value="${PAY_API}" />
		<property name="PAY_QUERY_API" value="${PAY_QUERY_API}" />
		<property name="PAY_CLOSE_API" value="${PAY_CLOSE_API}" />
		<property name="DOWNLOAD_BILL_API" value="${DOWNLOAD_BILL_API}" />
		<property name="REPORT_API" value="${REPORT_API}" />
		<property name="notify_url" value="${notify_url_wx}" />
		<property name="trade_type" value="${trade_type}" />
		
		<property name="trade_type_app" value="${trade_type_app}" />
		<property name="appID_app" value="${appID_app}" />
		<property name="mchID_app" value="${mchID_app}" />
		<property name="key_app" value="${key_app}" />
		<property name="certLocalPath_app" value="${certLocalPath_app}" />
		<property name="certPassword_app" value="${certPassword_app}" />
	</bean>
	
	

	<aop:aspectj-autoproxy proxy-target-class="true"></aop:aspectj-autoproxy>

</beans>